/* Seletor universal */
*{
    background-color: lightyellow;
    color: white;
}


/* Estilização por nome de tag  */
h1{
    background-color: lightblue;
    color:black;
}

/* Estilização por classe */
.titulo{
    background-color: rgb(134, 174, 210);
    color:rgb(66, 121, 204);
}